
.code{
    background-image: url("/img/backgrounds/h_img.jpg");
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
   text-align: center;
   font-size: small;
   color: white;
   padding: 18%;
}
.center{
    text-align: center;
    font-size: small;
    line-height: 30px;
  }

.services{
    text-align: center;
    background-image: url("/img/backgrounds/s_image.jpg");
    height: 300px;
    padding:10%;
    color: white;
    line-height: 30px;
}
#message::placeholder{
    background: none;
    height: 300px;
    color: white;
    background-repeat: no-repeat;

    padding:6% ;
    font-size: small;
}
#whatWeDo{
    text-align: center;
    font-size: small;
    padding: 7%;
}
#designImg{
    text-align: center;
    padding:10%;
}
.col-md-3 img{
    width: 250px;
    margin-right: 30px;
}
.part{
    text-align: center;
}
.contact{
    background-image: url("/img/backgrounds/c_image.jpg");
    background-repeat: no-repeat;
    text-align: center;
    height: 400px; 
    color: white;
    font:small;
    background-size: cover;
}

#Name::placeholder{
    color:white;
}
.footer{
    text-align: center;
    padding:20px;
}
.footer img{
    margin-right: 20px;
}
#message{
    background:none;
    color: white;
}
#Name{
    background: none;
    color: white;
}
#message::placeholder{
    background: none;
    color: white;
    text-emphasis-color: white;
    
}
.form{
    display: flex;
    text-align: center;
    width: 600px;
    margin-left: 200px;
    margin-right: 200px;
}
.form-group{
    margin-left: 200px; 
} 
.button{
    margin-left: 70%;
    margin-top: 100px;
}