
.code{
    background-image: url("/img/backgrounds/h_img.jpg");
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
   text-align: center;
   font-size: small;
   color: white;
   padding: 18%;
}
.center{
    text-align: center;
    font-size: small;
    line-height: 30px;
  }

.services{
    text-align: center;
    background-image: url("/img/backgrounds/s_image.jpg");
    height: 300px;
    padding:10%;
    color: white;
    line-height: 30px;
}
#message::placeholder{
    background: none;
    height: 300px;
    color: white;
    background-repeat: no-repeat;
    margin-right: 30px;

    padding:6% ;
    font-size: small;
}
#whatWeDo{
    text-align: center;
    font-size: small;
    padding: 7%;
}
#designImg{
    text-align: center;
    padding:10%;
}
.col-md-3 img{
    width: 250px;
}
.part{
    text-align: center;

}
.contact{
    background-image: url("/img/backgrounds/c_image.jpg");
    background-repeat: no-repeat;
    text-align: center;
    height: 400px; 
    color: white;
    font:small;
    background-size: cover;
    
}

#Name::placeholder{
    color:white;
}
.footer{
    text-align: center;
    padding:20px;
}
.footer img{
    margin-right: 20px;
}
#message{
    background:none;
    color: white;
}
#Name{
    background:transparent;
    color: white;
    border-color: white;
    height:40%;

}
#message::placeholder{
    background: none;
    color: white;
    text-emphasis-color: white;
    
}
.form{
    display: flex;
    text-align: center;
    width: 600px;
    margin-left: 200px;
    margin-right: 200px;
}
.form-group{
    margin-left: 200px; 
} 
.button{
    margin-left: 70%;
    margin-top: 100px;
}
.card p{
    position: absolute;
    color: white;
    text-transform: uppercase;
    border:2px solid #fff;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:15px;
    padding-right:15px;
    margin-left:15%;
    margin-top: 18%;
    background: rgba(12, 23,23, 0.567);
    display: none;
}
.bounce-2 {
    animation-name: bounce-2;
    animation-timing-function: ease;
}
@keyframes bounce-2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}
.bounce-2 {
    animation-name: bounce-2;
    animation-timing-function: ease;
} 
.box {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
   
   
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 16px;
}