
.code{
    background-image: url("/img/backgrounds/h_img.jpg");
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
   text-align: center;
   color: white;
}
.center{
    text-align: center;
}
.services{
    text-align: center;
    background-image: url("/img/backgrounds/s_image.jpg");
    height: 200px;
    color: white;
    background-repeat: no-repeat;
    padding:6% ;
}
#whatWeDo,p1{
    text-align: center;
}
#designImg{
    text-align: center;
    padding:10%;
}
.col-md-3 img{
    width: 250px;
    margin-right: 30px;
}
.portfolio{
    text-align: center;
}
.contact{
    background-image: url("/img/backgrounds/c_image.jpg");
    background-repeat: no-repeat;
    padding: 6px;
    text-align: center;
}
.button{
        float: left;
        border-radius: 2px;
}
.form-group{
    color:colorless;
}
.footer{
    text-align: center;
}